.site-header {
    background-color: #000;
    padding: 10px 20px;
    color: white;
}

.header-inner {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.logo img {
    height: 30px;
    width: 200px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 3px;
}

.flash-message {
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    animation: fadeOut 5s forwards;
    position: relative;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.error-message {
    color: red;
}
